{
  "SYSOPS_DB_HOST": "",
  "SYSOPS_DB_PORT": "3306",
  "SYSOPS_DB_USER": "root",
  "SYSOPS_DB_ACCESS": "",
  "SYSOPS_DB_NAME": "sysops",
  "SYSOPS_LOG_LEVEL": "info",
  "SYSOPS_ENV": "prd",
  "SYSOPS_OPENAPI_DOCS": "false",
  "SYSOPS_CORS_ORIGINS": "",
  "SYSOPS_PORT": "9090",
  "SYSOPS_HOST": "127.0.0.1",
  "SYSOPS_MONITOR_INTERVAL": "60",
  "SYSOPS_ALERT_ENABLED": "false"
}